@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", "Roboto", "Lato", ui-sans-serif, system-ui, sans-serif;
  }
}

@theme {
  --color-background: #f3f4f6;
  --color-background-dark: #111827;
  --color-vue-green: #00dc82;
  --text-color: #1f2937;
  --text-color-dark: #e5e7eb;
  --text-color-secondary: #6b7280;
  --text-color-secondary-dark: #9ca3af;
}

.scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
